.experience {
    background-color: rgb(221, 219, 219);
}
.timeline-title {
    padding-top: 20px;
    color: #000000;
    font-size: 36px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 12px;
}

.timeline-quote {
    color: #000000;
    font-size: 18px;
    text-align: center;
}

.date {
    color: #000000;
}

@media screen and (max-width: 1170px) {
    .date {
        color: #000;
    }
}