.experience {
    background-color: #000000;
    background-image: linear-gradient(180deg, #000000 0%, #062083 50%, #642b70 100%);
}

.timeline-title {
    color: #FFF;
    font-size: 40px;
    text-align: center;
}

.timeline-quote {
    color: #FFF;
    font-size: 16px;
    text-align: center;
    margin-bottom: 2px;
}

.timeline-quote-author {
    color: #FFF;
    font-size: 14px;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
}

.date {
    color: #FFF;
}

@media screen and (max-width: 1170px) {
    .date {
        color: #000;
    }
}
