.footer {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  width: 100%;
  background: #000000;
  padding-top: 15px;
  margin-top: 30px;
  bottom: 0px;
  left: 0;
}
  
  .socialMedia svg {
    color: white;
    margin-bottom: 40px;
    margin-left: 40px;
    font-size: 70px;
    cursor: pointer;
  }
  
  .footer p, a {
    color: white;
  }
  
  @media only screen and (max-width: 600px) {
    .footer svg {
      margin-top: 30px;
      font-size: 50px;
    }
  }